#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  tab-size: 4;
  text-size-adjust: 100%;
  overflow-y: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
$title-color: #409eff;
$sub-title-color: #409eff;

.jp-title {
  color: $title-color;
}
.jp-sub-title {
  color: $sub-title-color;
}
